# تجاهل مجلد المكاتب الضخم
node_modules/

# تجاهل ملفات البناء (لأننا نولدها كل مرة)
dist/

# تجاهل ملفات النظام (خاص بالماك والويندوز)
.DS_Store
Thumbs.db

# تجاهل ملفات البيئة (في حال استخدمتها مستقبلاً لحماية كلمات السر)
.env